body {
  background-color: #43b7e6;
  width: 100vw;
  height: 100vh;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

input[name="point"]{
  grid-area: A;
  visibility: hidden;
}

.slider{
  display: grid;
  width: 70%;
  margin: 0 2rem;
  overflow:hidden;
  grid-template-areas: 
      "A A A"
      "B B B"
      "C C D";
  
}

.slider-images{
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  width: 500%;
  margin-bottom: 2rem;
  grid-area: B;
  transition: .3s;
}

.img-block{
  width: 100%;
}

.slider-img{
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  user-select: none;
}

.slider-text{
  display: flex;
  width: 100%;
  overflow: hidden;
  grid-area: C;
}

.text{
  min-width: 100%;
  color: #fff;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.8rem;
  transition: .3s;
}

.slider-controls{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
  grid-area: D;
}

.control{
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.control-btn{
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.1rem solid #fff;
  background-color: #fff;
  cursor: pointer;
  transition: .5s;
}

.control:hover .control-btn{
  background-color: rgb(255, 175, 63);
}

#slide1:checked ~ .slider-controls .control:nth-child(1) .control-btn{
  background-color: transparent;
}

#slide1:checked ~.slider-images{
  margin-left: 0;
}

#slide1:checked ~.slider-text .text:first-child{
  margin-left: 0;
}

#slide2:checked ~ .slider-controls .control:nth-child(2) .control-btn{
  background-color: transparent;
}

#slide2:checked ~.slider-images{
  margin-left: -100%;
}

#slide2:checked ~.slider-text .text:first-child{
  margin-left: -100%;
}

#slide3:checked ~ .slider-controls .control:nth-child(3) .control-btn{
  background-color: transparent;
}

#slide3:checked ~.slider-images{
  margin-left: -200%;
}

#slide3:checked ~.slider-text .text:first-child{
  margin-left: -200%;
}

#slide4:checked ~ .slider-controls .control:nth-child(4) .control-btn{
  background-color: transparent;
}

#slide4:checked ~.slider-images{
  margin-left: -300%;
}

#slide4:checked ~.slider-text .text:first-child{
  margin-left: -300%;
}

#slide5:checked ~ .slider-controls .control:nth-child(5) .control-btn{
  background-color: transparent;
}

#slide5:checked ~.slider-images{
  margin-left: -400%;
}

#slide5:checked ~.slider-text .text:first-child{
  margin-left: -400%;
}


@media screen and (min-width: 768px) and (max-width:1279px){
  .control-btn{
    width: 0.8rem;
    height: 0.8rem;
  }
  .text{
    font-size: 1.35rem;
  }
}

@media screen and (max-width: 767px){
  .slider{
    width: 80%;
    margin: 0 1rem;
    grid-template-areas: 
                "A A A"
                "B B B"
                "D D D"
                "C C C";
  }

  .slider-controls{
    justify-content: center;
  }
  .control-btn{
    width: 0.7rem;
    height: 0.7rem;
  }
  .text{
    font-size: 1.2rem;
  }
}
