body {
  background-color: #43b7e6;
  width: 100vw;
  height: 100vh;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

input[name="point"]{
  grid-area: A;
  visibility: hidden;
}

.slider{
  display: grid;
  width: 70%;
  margin: 0 2rem;
  overflow:hidden;
  grid-template-areas: 
      "A A A"
      "B B B"
      "C C D";
  
}

.slider-images{
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  width: 500%;
  grid-area: B;
}

.img-block{
  width: 100%;
}

.slider-img{
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
}

.slider-text{
  display: flex;
  width: 100%;
  overflow: hidden;
  grid-area: C;
}

.text{
  min-width: 100%;
  color: #ddd;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 2rem;
}

.slider-controls{
  display: flex;
  justify-content: flex-end;

  grid-area: D;
}

.control{
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
/*


.text1, .text2, .text3, .text4, .text5{
  margin-top: 5%;
  color: #ddd;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 26px;
}

.slider{
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  overflow: hidden;
}

.slider-inner{
  background-color: #fff;
  width: 500%;
  height: 480px;
  display: flex;
}

.slide{
  width: 20%;
  transition: .5s;
}

.slide img{
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0 auto;
}

#slide1:checked ~ .slide1{
  margin-left: 0;
}

#slide2:checked ~ .slide1{
  margin-left: -20%;
}

#slide3:checked ~ .slide1{
  margin-left: -40%;
}

#slide4:checked ~ .slide1{
  margin-left: -60%;
}

#slide5:checked ~ .slide1{
  margin-left: -80%;
}

img{
  max-width: 720px;
  height: auto;
}

.slider-text{
  
  width: 75%;
  overflow: hidden;
}

.slider-text-inner{
  width: 500%;
  display: flex;
}

.controls{
  display: flex;
  justify-content: flex-end;
  width:inherit;
}

.container > input{
  display: none;
}

.bar {
	cursor: pointer;
	display: inline-block;
	height: 8px;
	margin: 6px;
	position: relative;
	width: 30px;
  border-radius: 10px;
  background: #ddd;
  opacity: 0.5;
  transition: .5s;
}

.bar.active{
  opacity: 1;
  transform: scale(1.3);
}

label[for="slide2"]:active{
  opacity: 1;
  transform: scale(1.3);
}

.bar:hover:not(.active){
  opacity: 1;
  transform: scale(1.2);
}
*/