body {
  background-color: #43b7e6;
}

.container{
  max-width: 1000px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.slider{
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80%;
  overflow: hidden;
}

.slider__inner{
  background-color: #fff;
  width: 500%;
  height: 480px;
  display: flex;
}

.slide{
  width: 25%;
}

.slide img{
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0 auto;
}

img{
  max-width: 720px;
  height: auto;
}

.slider-content{
  display: flex;
  justify-content: space-between;
}

.slider-text{
  color: #ddd;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 26px;
}

.container > input{
  display: none;
}

.container label {
	cursor: pointer;
	display: inline-block;
	height: 8px;
	margin: 6px;
	position: relative;
	width: 30px;
  border-radius: 10px;
  background: #ddd;
  opacity: 0.5;
}

.controls .active{
  opacity: 1;
}

.slider__block{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__content{
  height: 75%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: rgb(152, 134, 134);
}

.slider__content p{
  font-size: 25px;
  font-weight: bold;
  color: rgb(225, 255, 0);
}